/*This styles skills section using media query to stack in a column
at any sixe below 800 pixels */
@media (max-width: 800px) {
  .skills {
    flex-direction: column;
  }
}
/*This styles the nav items using media query to stack in a column
at any sixe below 300 pixels */
@media (max-width: 300px) {
  .navigation {
    flex-direction: column;
  }
}
/*This styles the navigation in light grey while 
justifying content based on screen width */
.navigation {
  background-color: lightgrey;
  padding: 10px;
  display: flex;
  justify-content: auto;
}

/*This styles the unstructured list and aligns the list items */
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: flex;
  align-items:center;
}
/*This styles the links black and provides adequate padding */
nav ul li a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
}
/*This styles the hover behavior adding a box and bolding the item */
nav ul li a:hover {
  background-color: lightseagreen;
  font-weight: bold; 
}
/*This styles the  */
.profile-img {
  border-radius: 50%;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.5);
}
.container {
  display: flex;
}

img {
  margin-right: 15px;
  width: 50%;
  height: 50%;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*This styles skills items black with padding */
.skills span {
  background-color: lightgrey;
  color: black;
  padding: 5px 10px;
  margin: 5px;
}
.projects {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
/*This styles the project cards */
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-card img {
  width: 200px;
  height: 200px;
  justify-content: center;
}

.project-card p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
}
.form {
  display: flex;
  justify-content: center;
}
.formsection {
background-color: lightblue;
padding: 10px;
text-align: center;
}
h4 {
font-size: 28px;
font-weight: 700;
margin-bottom:px
}
.projectsection {
display:flex;
justify-content: center;
}
.form-control {
  text-align: center;
}